/*
:Author: David Goodger
:Contact: goodger@python.org
:date: $Date: 2007-06-22 18:32:33 +0300 (Fri, 22 Jun 2007) $
:version: $Revision: 56076 $
:copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the PEP HTML output of Docutils.
*/


body {
    margin: 0px;
    padding: 0px;
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

#header {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    background-color: #edd400;
    font-size: 130%;
}
#header img {
    vertical-align:middle;
    margin-right: 40px;
}

#content {
    padding: 10px;
}

a, a:visited {
    color: #009491;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a, h2 a, h3 a {
    color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}

hr {
    border: 1px dashed #666;
}

.field-name {
    text-align: right;
}